/* Charts Page */
.charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .charts-container h2 {
    width: 100%;
    text-align: center;
    color: #333;
  }
  
  .charts-container > div {
    margin: 20px;
  }
  